#editor{ 
    text-align: left;
    height: 400px;
}
.LowerPart {
    width: 300px;
   	height: 300px;
    color: blue;
}
.ExerciseUpperPart{

}
.HomePageSubjectsTable{
	width: 300px;
	height: 300px;
}
.CenteredBody{
	text-align: center;
}
.HomePageTitle{
	margin-top: 50;
	font: Helvetica, Verdana, sans-serif;
}
.HomePageSearchBar{
	margin-top: 50;
}


div.HomePageSubjects {
  width: 200px;
  margin-top: 50;
  margin-left: auto;
  margin-right: auto;
}
 
.HomePageSubjects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.HomePageSubjects li {
  font: 200 30px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.HomePageSubjects li:last-child {
  border: none;
}
 
.HomePageSubjects li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.HomePageSubjects li a:hover {
  font-size: 40px;
  background: #f6f6f6;
}

header{
  font-size: 50px;
}

#issue{
  font-size: 20px;
  font-style: oblique;
}

.issuBorder{
  border: 2px solid rgb(49, 40, 40);
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px gray;
}


/***************** navigation box start ******************/

.navbox {
  position: absolute;
  top: 20px;
  left: -100px;
  z-index: 5;
}

ul.nav {
    list-style: none;
    display: block;
    width: 200px;
    position: relative;
    top: 100px;
    left: 100px;
    padding: 60px 0 60px 0;
    background: url(shad2.png) no-repeat;
    -webkit-background-size: 50% 100%;
}

ul.nav li a {
    -webkit-transition: all 0.3s ease-out;
    background: #cbcbcb url(border.png) no-repeat;
    color: #174867;
    padding: 7px 15px 7px 15px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    width: 100px;
    display: block;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
    background: #ebebeb url(border.png) no-repeat;
    color: #67a5cd;
    padding: 7px 15px 7px 30px;
}

/***************** navigation box end ******************/

.coolButton{
  position: relative;
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px rgb(0, 0, 236);
    background-color: rgba(5, 159, 219, 1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(5, 82, 219, 1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(5, 82, 219, 1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(5, 82, 219, 1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 30px auto;
    width: 160px;
    text-align: center;
    cursor: pointer;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.coolButton:active{
   -webkit-box-shadow: 0px 3px 0px rgba(5, 82, 219, 1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(5, 82, 219, 1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(5, 82, 219, 1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}